html, body
{
	height: 100%;
	min-width: 750px;
}

#TitleBanner
{
	background-color: #3E97D1;
	position: relative;
	height: 100px;
	width: 100%;
	font-size: 90px;
	color: white;
	padding-left: 5px;
}

#footer
{
	height: 3em;
	width:100%;
	background-color: #03426A;
}

.button
{
	text-decoration: none;
	font-weight: bold;
	color: white;
	border-style: solid;
	background-color: #3EC7F1;
	border-color: #3E97D1 #03426A #03426A #3E97D1;
	padding: 2px 6px 2px 6px;
	margin: 2px;
}

div#button
{
	margin: 15px;
}
